$color-brown: #634832;
$color-lightbrown: #967259;
$color-cream: #dbc1ac;
$color-lightcream: #ece0d1;
$color-blacktransparent: rgba(0,0,0,0.9);
$color-closebutton: #f1f1f1;
$color-closehighlight: #bbb;


$header-font: 'Lemonada', cursive;
$body-font: 'Roboto', sans-serif;

@mixin pic-border {
    border: solid 2px $color-lightbrown;
}

@mixin shadow-effect {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, .logo{
    font-family: $header-font;
}

h3 {
    padding-bottom: 20px;
    font-family: $header-font;
}

.card {
    @include shadow-effect;
    .card-body {
        font-family: $body-font;
    }
}

p {
    font-family: $body-font;
}

.navbarin {
    @include shadow-effect;
    background-color: $color-brown;
    border-radius: 5px;
}

.jumbotron {
    background-image: url("/img/jumbotron.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    color: $color-brown;
    border: 1px solid;
    width: 33%;
    margin-top: 30px;
}

.background {
    background-color: $color-lightcream;
}

.card-header, .modal-header {
    background-color: $color-lightbrown;
}

.newsletter {
    background-image: url("/img/beans.jpg");
    padding-top: 2em;
    padding-bottom: 2em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    background-color: #2c292f;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mainButtons {
    background-color: $color-cream;
}

.mainButtons:hover {
    background-color: $color-brown;
    color: white;
}

.orderButton {
    @include shadow-effect;
    background-color: $color-brown;
    color: white;
}

.orderButton:hover {
    background-color: $color-cream;
    @include pic-border;
}

.img-responsive {
    border-radius: 5px;
}

.menuBackground {
    background-color: $color-cream;
}

.menuImage {
    padding-left: 0;
    padding-right: 0;
}


.carousel {
    @include pic-border;
    padding: 10px;
}

.welcomeText {
    color: $color-brown;
}

.specialImage {
    width: 100%;
    height: auto;
}

.rotate {
    -ms-transform: rotate(-6deg); /* IE 9 */
    -webkit-transform: rotate(-6deg); /* Safari */
    transform: rotate(-6deg);
}

@media (max-width: 480px) {                  
    .rotate {
       display: none;
    }
 }

.meetUs {
    border-radius: 50%;
    width: 200px;
    height: 250px;
}

.aboutus {
    @include shadow-effect;
    @include pic-border;
    padding: 10px;
}

 /* Style the Image Used to Trigger the Modal */
 #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {
      opacity: 0.7;
    }
  
  /* The Modal (background) */
  .modalChart {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: $color-blacktransparent; /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
  } 
  
  /* Add Animation - Zoom in the Modal */
  .modalContent, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: $color-closebutton;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: $color-closehighlight;
    text-decoration: none;
    cursor: pointer;
  }
  
  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    right:0;
    height:100%;
    width:100%;
    position:absolute;
}

//backgound for discount modal
.discountModal {
    background-image: url("/img/coffeeModal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
